<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a href="/" class="navbar-brand">Tennis Manager</a>
        </div>
        <div class="navbar-nav">
            <a href="/players" class="nav-link">Players</a>
            <a href="/matches" class="nav-link">Matches</a>
            <a href="/competitions" class="nav-link">Competitions</a>
        </div>
    </nav>
</body>
</html>